
.genericList-container .movie-container{
    width: 250px;
    margin-bottom: 30px;
}
.header-container--long{
    width: 700px;
    margin: 0 auto;
}
.movieDetail-container{
    width: 700px;
}
.relatedMovies-scrollContainer{
    width: 660px;
}